<div id="<%= dom_id linkedin_connection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= linkedin_connection.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= linkedin_connection.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= linkedin_connection.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= linkedin_connection.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= linkedin_connection.company %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Profile url:</strong>
    <%= linkedin_connection.profile_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Connected on:</strong>
    <%= linkedin_connection.connected_on %>
  </p>

</div>
